[project]
	description = Group 5 Tutorial Activities Central Hub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Navjot Aulakh (NavjotAulakh)
[access "refs/for/refs/*"]
	read = group user/Navjot Aulakh (NavjotAulakh)
	push = group user/Navjot Aulakh (NavjotAulakh)
	label-Code-Review = -2..+2 group user/Navjot Aulakh (NavjotAulakh)
	label-Verified = -1..+1 group user/Navjot Aulakh (NavjotAulakh)
	rebase = group user/Navjot Aulakh (NavjotAulakh)
	removeReviewer = group user/Navjot Aulakh (NavjotAulakh)
	submit = group user/Navjot Aulakh (NavjotAulakh)
[access "refs/heads/*"]
	read = group user/Navjot Aulakh (NavjotAulakh)
	create = group user/Navjot Aulakh (NavjotAulakh)
	push = +force group user/Navjot Aulakh (NavjotAulakh)
	pushMerge = group user/Navjot Aulakh (NavjotAulakh)
[access "refs/tags/*"]
	push = group user/Navjot Aulakh (NavjotAulakh)
	push = +force group user/Navjot Aulakh (NavjotAulakh)
